@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(164, 175, 193, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.navigation {
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.side-nav {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.indent {
  padding: 15px 25px;
}

.header-title {
  font-size: 1.4rem;
  color: #333;
}

.side-nav .title-name .position {
  color: rgba(0, 0, 0, 0.3);
}

.side-nav .links {
  width: 80%;
  padding: 10px 15px;
}

.side-nav .links .link {
  width: 70%;
  padding: 0 10px;
  line-height: 30px;
}

.side-nav .links a.dashboard {
  color: rgba(0, 0, 0, 0.3);
}

.side-nav .links li {
  height: 50px;
  width: 100%;
  margin: 5px 0;
  padding: 0 25px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.side-nav .links li.active {
  border-left: 2px solid #006a26;
}

.side-nav .links li.active a,
.side-nav .links li.active i,
.side-nav .links li.active .right-icon {
  opacity: 1;
  color: #333;
}

.side-nav .links li a i {
  margin-right: 7px;
  color: #333;
  font-size: 18px;
}

.side-nav .links li a {
  font-size: 1.1rem;
}

.side-nav .links li i {
  line-height: 50px;
}

.side-nav .links .right-icon {
  opacity: 0;
}

.side-nav .links li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.side-nav .links li:hover i {
  color: #fff;
}

.side-nav .links li:hover span {
  color: #fff;
}

.side-nav .links li:hover .right-icon {
  opacity: 1;
}

.left-footer {
  position: absolute;
  padding: 10px 30px;
  left: 0;
  bottom: 0;
}

.left-footer .phinma {
  height: 40px;
}

.left-footer .socials {
  width: 100%;
}

.left-footer .socials img {
  width: 28px;
  margin: 0 2px;
}

.left-footer span {
  color: rgba(0, 0, 0, 0.3);
}

.home {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  background-color: #fff;
}

.home .row {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #006a26;
}

.home .col-1 {
  height: 100%;
  width: 300px;
}

.home .col-1 span {
  color: #fafafa;
}

.home .col-2 {
  width: 300px;
  height: 100%;
}

.home .col-3 {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .col-3 i {
  color: #333;
  font-size: 25px;
}

.home .col-3 i span {
  color: #fafafa;
}

.home .col-3 i:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.home .col-3 .notif {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .col-3 .badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -3px;
  top: -5px;
  background-color: #e1ae2d;
  line-height: 20px;
  pointer-events: none;
}

.home .col-3 .badge span {
  font-weight: bolder;
  font-size: 13px;
}

.home .user-cred {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  position: relative;
}

.home .user-cred img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.home .user-cred span {
  font-size: 17px;
  width: 80px;
  text-align: left;
  color: #fafafa;
}

.home .user-cred .user-dropdown {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  float: right;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.3);
}

.home .user-cred .user-dropdown:hover {
  color: #333;
  cursor: pointer;
}

.home .dropdown {
  width: 30px;
  position: relative;
  text-align: center;
  height: 45px;
}

.home .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  text-align: left;
  top: 30px;
}

.home .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.home .dropdown:hover .dropdown-content {
  display: block;
}

.home .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.search {
  width: 100%;
  height: 45px;
  position: relative;
  margin: 15px;
}

.search input.search-bar {
  position: relative;
  width: 93%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  color: #333;
  outline: none;
  padding: 0 20px;
}

.search input:focus {
  border: 2px solid #006a26;
}

.search ::-webkit-input-placeholder {
  letter-spacing: 1px;
  font-size: 17px;
}

.search :-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 17px;
}

.search ::-ms-input-placeholder {
  letter-spacing: 1px;
  font-size: 17px;
}

.search ::placeholder {
  letter-spacing: 1px;
  font-size: 17px;
}

.search button.search-btn {
  position: absolute;
  border: none;
  padding: 10px 15px;
  right: 37px;
  background-color: transparent;
  cursor: pointer;
  top: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search button:hover i {
  color: #006a26;
}

.search i {
  color: #333;
  font-size: 1.5rem;
  pointer-events: none;
}

.title-name {
  margin: 10px 25px;
}

.title-name span {
  font-size: 0.9rem;
}

.title-name h1 {
  font-size: 20px;
}

.add {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add .students {
  height: 100%;
  width: 300px;
  color: #333;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add .label {
  font-size: 22px;
  margin-left: 5px;
}

.add button.add-btn {
  width: 50px;
  height: 45px;
  line-height: 45px;
  border: none;
  background-color: white;
  font-size: 2.5rem;
  margin-right: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
  color: #e1ae2d;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters select {
  margin: -10px 13px;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 130px;
  text-align: center;
  font-weight: bold;
  height: 45px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

.filters .import {
  width: 120px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  position: relative;
}

.filters .import button {
  padding: 10px 12px;
  font-size: 18px;
  color-interpolation-filters: #333;
  border: none;
  background-color: #fff;
  border: 2px solid #006a26;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.filters .import button:hover {
  background-color: #006a26;
  color: #fafafa;
}

.filters .import button:hover i {
  color: #fafafa;
}

.filters .import i {
  color: #006a26;
  margin-left: 5px;
}

.list {
  width: 100%;
  height: 550px;
  overflow-y: auto;
  padding-bottom: 30px;
  margin-left: 15px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

table {
  border-collapse: collapse;
  width: 95%;
  overflow-y: auto;
  margin-top: 8px;
  margin-left: 16px;
}

table .header {
  background-color: rgba(0, 106, 38, 0.12);
}

table td,
table th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 8px 10px;
  color: #333;
}

table th {
  font-weight: bolder;
  font-size: 18px;
}

table tr:nth-child(even) {
  background-color: #fdfdfd;
}

table button {
  padding: 5px 20px;
  height: 33px;
  margin: 2px 3px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

table .view {
  background-color: #e1ae2d;
  color: #fafafa;
}

table .edit {
  background-color: #006a26;
  color: #fafafa;
}

table .delete {
  background-color: crimson;
  color: #fafafa;
}

.modal-add {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.modal-add .add-student-inputs {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 2px solid #fff;
  border: 5px;
  padding: 15px 15px 0 15px;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  max-width: 80%;
  color: #333;
  font-size: 18px;
}

.modal-add .add-student-inputs h1 {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-add .add-student-inputs .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 15px 0;
}

.modal-add .add-student-inputs input,
.modal-add .add-student-inputs .faculty-input,
.modal-add .add-student-inputs select {
  width: 100%;
  margin: 10px 0;
  height: 50%;
  padding: 0 5px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-add .add-student-inputs button {
  margin: 10px 12px;
  padding: 5px 15px;
  background-color: #006a26;
  color: #fff;
  border: none;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-add .add-student-inputs button.add-save {
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.modal-add .add-student-inputs button.add-save:hover {
  background-color: transparent;
  border: 2px solid #006a26;
  color: #006a26;
}

.modal-add .add-student-inputs .add-new-input {
  width: 200px;
  margin: 0 10px;
}

.modal-add .add-student-inputs .add-new-inputid {
  width: 93%;
  margin: 0 10px;
  padding: 0 7px;
  border-radius: 5px;
}

.modal-add .add-student-inputs .close-btn {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 14px;
  top: 2px;
  cursor: pointer;
}

.modal-add .add-student-inputs .close-btn:hover {
  color: #333;
}

.modal-add .add-student-inputs select {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: white;
}

.id-input {
  -webkit-transform: scale(1);
          transform: scale(1);
}

i:hover {
  font-size: #006a26;
}

.modal-edit {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.modal-edit .edit-student-inputs {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 2px solid #fff;
  border: 5px;
  padding: 15px 15px 0 15px;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  max-width: 80%;
  color: #333;
  font-size: 18px;
}

.modal-edit .edit-student-inputs h1 {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-edit .edit-student-inputs .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 15px 0;
}

.modal-edit .edit-student-inputs input,
.modal-edit .edit-student-inputs .edit-faculty-input,
.modal-edit .edit-student-inputs select {
  width: 100%;
  margin: 10px 0;
  height: 50%;
  padding: 0 5px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-edit .edit-student-inputs button {
  margin: 10px 12px;
  padding: 8px 15px;
  background-color: #006a26;
  color: #fff;
  border: none;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-edit .edit-student-inputs button.add-save {
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.modal-edit .edit-student-inputs button.add-save:hover {
  background-color: transparent;
  border: 2px solid #006a26;
  color: #006a26;
}

.modal-edit .edit-student-inputs .edit-old-input {
  width: 200px;
  margin: 0 10px;
}

.modal-edit .edit-student-inputs .edit-old-inputid {
  width: 93%;
  margin: 0 10px;
  padding: 0 7px;
  border-radius: 5px;
}

.modal-edit .edit-student-inputs .close-btn {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 14px;
  top: 2px;
  cursor: pointer;
}

.modal-edit .edit-student-inputs .close-btn:hover {
  color: #333;
}

.modal-edit .edit-student-inputs select {
  border-color: rgba(0, 0, 0, 0.3);
  background-color: white;
}

button.add-search:hover {
  background-color: #006a26;
}

.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 900px) {
  .col-1 {
    width: 300px;
    overflow: hidden;
  }
  .col-2 {
    display: none;
  }
  .list {
    width: 450px;
    height: 426px;
    overflow-x: scroll;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  .header-details {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .set a {
    width: 100px;
    display: none;
  }
  .search {
    width: 90%;
    position: relative;
  }
  .search button {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .add {
    width: 400px;
    display: inline-block;
    padding-bottom: 0;
  }
  .add .label {
    width: 500px;
  }
  .filters {
    display: none;
  }
  .navigation {
    width: 100px;
  }
  .title-name h1 {
    font-size: 19px;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 70px;
  }
  .title-name span {
    display: none;
  }
  ul li a span {
    display: none;
  }
  .left-footer {
    display: none;
  }
}

.announce {
  width: 89%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: auto;
  margin-top: 40px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.announce button {
  width: 100px;
  background-color: #e1ae2d;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fafafa;
  color: #fdfdfd;
}

.announce span {
  font-size: 2rem;
  letter-spacing: -0px;
}

.sents {
  width: 89%;
  margin: auto;
  position: relative;
  max-height: 550px;
}

.sents a {
  color: rgba(0, 0, 0, 0.7);
}

.all-summary {
  width: 100%;
}

.message-subject {
  overflow-x: hidden;
  font-size: 1.1rem;
}

.sub {
  width: 90px;
  overflow: hidden;
}

.msg {
  width: 95%;
  height: 60px;
  padding: 11px 10px 6px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: auto;
  border-radius: 5px;
  color: #333;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.msg div.overflow-text {
  width: 92%;
}

.msg div.overflow-sub {
  width: 90%;
  height: 28px;
  text-align: justify;
  margin-bottom: 2px;
  overflow: hidden;
}

.msg div.overflow-message {
  width: 90%;
  height: 22px;
  text-align: justify;
  margin-bottom: 10px;
  overflow: hidden;
}

.btn-delete {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 20px;
  padding: 5px;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.2);
}

.btn-delete:hover {
  color: tomato;
}

.btn-view {
  width: 68px;
  position: absolute;
  right: 50px;
  top: 30%;
  padding: 5px;
  background-color: #006a26;
  border-radius: 30px;
  border: none;
  font-size: 17px;
}

.btn-view a {
  color: #f1f1f1;
}

.btn-view:hover {
  background-color: transparent;
  border: 1px solid #006a26;
}

.btn-view:hover a {
  color: #006a26;
}

.msg:hover {
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.modal .create-student-announce {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 5px;
  padding: 15px 15px 0 15px;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  width: 700px;
  max-width: 80%;
  color: #333;
  font-size: 18px;
}

.modal .create-student-announce h1 {
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
}

.modal .create-student-announce button {
  margin: 10px 0;
  padding: 10px 15px;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .create-student-announce .close-btn {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 14px;
  top: 2px;
  cursor: pointer;
}

.modal .create-student-announce .close-btn:hover {
  color: #333;
}

.error-message {
  width: 100%;
  height: 43px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.error {
  letter-spacing: 1px;
  font-size: 18px;
}

.error-message.active {
  color: #721c24;
  background: #f8d7da;
  font-size: 18px;
}

.error-message.gg {
  color: #007200;
  background: #c7f9cc;
  font-size: 18px;
}

input.active {
  border-color: #c0392b;
}

.announce-subject {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.receipt {
  width: 100%;
  height: 75px;
  margin-bottom: 6px;
}

.sender {
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
}

.rcpt {
  margin-top: 10px;
  margin-bottom: 8px;
}

.rcpt select {
  width: 95%;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
}

.announce-title {
  font-size: 2rem;
  letter-spacing: -0px;
}

.announce-message {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.announce-message .announce-save {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.announce-input-message {
  width: 97%;
  margin: auto;
  height: 90%;
  overflow: auto;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#subject_field {
  width: 98%;
}

.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 900px) {
  .announce {
    width: 70%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .announce-input-message {
    width: 95%;
  }
  #subject_field {
    width: 96%;
  }
  .rcpt select {
    width: 100%;
  }
  ol {
    padding-top: 20px;
  }
  .whole-message {
    width: 100%;
    height: 26px;
    overflow: hidden;
  }
  .btn-delete {
    top: 1px;
    right: 10px;
  }
  .btn-view {
    top: 30%;
    right: 35px;
  }
  div.overflow-message {
    height: 42px;
  }
  .msg {
    padding: 15px 60px 10px 20px;
    overflow: hidden;
    height: 50px;
  }
  input.announce-subject {
    width: 100px;
  }
  .announce-title {
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: -0px;
  }
}
/*# sourceMappingURL=announce.css.map */