@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(164, 175, 193, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.indent {
  padding: 15px 25px;
}

.header-title {
  font-size: 1.4rem;
  color: #333;
}

.side-nav .title-name .position {
  color: rgba(0, 0, 0, 0.3);
}

.side-nav .links {
  width: 80%;
  padding: 10px 15px;
}

.side-nav .links .link {
  width: 70%;
  padding: 0 10px;
  line-height: 30px;
}

.side-nav .links a.dashboard {
  color: rgba(0, 0, 0, 0.3);
}

.side-nav .links li {
  height: 50px;
  width: 100%;
  border-radius: 30px;
  margin: 5px 0;
  padding: 0 25px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.side-nav .links li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.side-nav .links li.active a,
.side-nav .links li.active i,
.side-nav .links li.active .right-icon {
  opacity: 1;
  color: #333;
}

.side-nav .links li a i {
  margin-right: 7px;
  color: #333;
  font-size: 18px;
}

.side-nav .links li a {
  font-size: 1.1rem;
}

.side-nav .links li i {
  line-height: 50px;
}

.side-nav .links .right-icon {
  opacity: 0;
}

.side-nav .links li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.side-nav .links li:hover i {
  color: #fff;
}

.side-nav .links li:hover span {
  color: #fff;
}

.side-nav .links li:hover .right-icon {
  opacity: 1;
}

.left-footer {
  position: absolute;
  padding: 10px 30px;
  left: 0;
  bottom: 0;
}

.left-footer .phinma {
  height: 40px;
}

.left-footer .socials {
  width: 100%;
}

.left-footer .socials img {
  width: 28px;
  margin: 0 2px;
}

.left-footer span {
  color: rgba(0, 0, 0, 0.3);
}

.home {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
}

.home .row {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #006a26;
}

.home .col-1 {
  height: 100%;
}

.home .col-1 span {
  color: #fafafa;
}

.home .col-2 {
  width: 200px;
  height: 100%;
  line-height: 57px;
}

.home .col-2 img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .col-3 {
  width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .col-3 i {
  color: #333;
  font-size: 25px;
}

.home .col-3 i span {
  color: #fafafa;
}

.home .col-3 i:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
}

.home .col-3 .notif {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .col-3 .badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -3px;
  top: -5px;
  background-color: #e1ae2d;
  line-height: 20px;
  pointer-events: none;
}

.home .col-3 .badge span {
  font-weight: bolder;
  font-size: 13px;
}

.home .user-cred {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  position: relative;
}

.home .user-cred img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.home .user-cred span {
  font-size: 17px;
  width: 80px;
  text-align: left;
  color: #fafafa;
}

.home .user-cred .user-dropdown {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.3);
}

.home .user-cred .user-dropdown:hover {
  color: #333;
  cursor: pointer;
}

.home .dropdown {
  width: 30px;
  position: relative;
  text-align: center;
  height: 45px;
}

.home .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  text-align: left;
  top: 30px;
}

.home .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.home .dropdown:hover .dropdown-content {
  display: block;
}

.home .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.title {
  margin: 15px 1px;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 45px;
  line-height: 28px;
}

.title button {
  width: 70px;
  height: 28px;
  border: none;
  background-color: #e1ae2d;
  font-size: 17px;
  color: #fafafa;
  border-radius: 10px;
}

.header {
  font-size: 1.6rem;
  margin-top: 30px;
  margin-left: 30px;
}

.list {
  width: 95%;
  height: 550px;
  overflow-y: auto;
  padding-bottom: 30px;
  margin: auto;
}

.list .announce {
  width: 98%;
  padding: 7px 9px;
  border-radius: 10px;
  margin-bottom: 7px;
  color: #333;
}

.list .announce span {
  font-size: 19px;
  line-height: 30px;
}

.list .announce .text {
  width: 100%;
  margin: 30px 0;
  line-height: 25px;
}

.list .announce .text .date {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 900px) {
  .label {
    height: 30px;
    width: 150px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .col-1 {
    width: 140px;
    overflow: hidden;
  }
  .col-2 {
    display: none;
  }
  .list {
    width: 430px;
    height: 440px;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .text {
    overflow-y: auto;
    height: 365px;
    padding-bottom: 10px;
  }
  .search {
    width: 90%;
    position: relative;
  }
  .search button {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .add {
    width: 400px;
    display: inline-block;
    padding-bottom: 0;
    overflow: hidden;
  }
}
/*# sourceMappingURL=announcement-viewing.css.map */